<div class="search">
  <%= form_tag '/search' do -%>
    <ul class="search_options">
      <li>
        <%= label_tag :plugs, "Enchufes" %>
        <%= check_box_tag :plugs -%>
      </li>
      <li>
        <%= label_tag :wifi, "WIFI" %>
        <%= check_box_tag :wifi -%>
      </li>
      <li>
        <%= label_tag :affordable, "Económico" %>
        <%= check_box_tag :affordable -%>
      </li>
      <li>
        <%= label_tag :friendly, "Amigable" %>
        <%= check_box_tag :friendly -%>
      </li>
      <li>
        <%= label_tag :plastics, "Débito/Crédito" %>
        <%= check_box_tag :plastics -%>
      </li>
    </ul>
  <%- end -%>
</div>
<% if @coffeeshops.present? -%>
  <%- @coffeeshops.each do |coffeeshop| -%>
    <div class="coffeeshop">
      <p><%= coffeeshop.name -%></p>
    </div>
  <%- end -%>
<%- else -%>
  <div class="empty-repo">
    <p>
      ¡Perdón! Aparentemente, aún no tenemos cafeterías para ofrecerte. Checkeá en estos días.
    </p>
  </div>
<%- end -%>
